<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/controllers.js"></script>

<style>
    td, th {
    border: 1px #ccc solid;
}
</style>
</head>
<body ng-controller="Home">





  <table>

    <tr ng-repeat="(cat1,cat1desc) in data.cata">
        <td ng-repeat="(cat2,cat2desc) in data.catb">
          {{cell(cat1,cat2)}}
       </td>
    </tr></table>



    <table>
      <tr ng-repeat="days in dates">
          <td ng-repeat="day in days">
              {{ day }}
         </td>
      </tr></table>


</body>
</html>
