

	<div class="resultats_cerca resultats_taula">


		<div class="taula">



		 <tr ng-repeat="days in dates">
         <td ng-repeat="day in days">
             {{ day }}
             <!-- After seven iterations a new `<tr>` should be aded -->
        </td>
     </tr>
</table>





{{total}}
		</div>

	</div>
	</div>
