@import "https://fonts.googleapis.com/css?family=Abel";

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	background-color:#000;
	color:#fff;
	font-family:Abel,helvetica,arial,sans-serif;
	width:100%;
	height:100vh;
	overflow:hidden;
}

a,a:visited {
	color:#fff;
	text-decoration:none;
}

/*********************************
MENÚ PREHOME
*********************************/

.intro {
	width:300px;
	position:absolute;
	top:30%;
	left:calc(50% - 150px);
	font-size:20px;
}

.intro li {
	list-style-type:none;
	margin-bottom:5px;
}

.intro a,.intro a:visited {
	text-align:center;
	padding:10px;
	display:block;
	border:1px solid #333;
}

.intro a:hover {
	border-color:#999;
}

/*********************************
COMUNES FOTO I VIDEO
*********************************/

#mosca {
	width: 150px;
	position: absolute;
	top: 20px;
	right: 15px;
	z-index: 999;
}

#logo_flaix img,
#mosca img {
	max-width: 100%;
	height: auto;
}

/* mida normal **/

#profile_info.photo,
#profile_info.video  {
	position:absolute;
	bottom:43px;
	left:0;
	height:75px;
	z-index:9999;
	/*transform:skewX(-10deg);*/
}

#profile_info.map {
	position:absolute;
	left:400px;
	top: 260px;
}

#profile_info .prof,
#profile_info .prof img {
border-radius: 3px;
}

#profile_info #ico_xs.prof img {
border-radius: 0 3px 3px 0;
}

.vista-mapa #profile_info #ico_xs.prof img {
border-radius: 3px;
}

#ico_xs,
#profile-img,
.profile,
.location {
	display:inline-block;
	height:75px;
}

#ico_xs,
#profile-img {
	width:75px;
}

#ico_xs img,
#profile-img img {
	display:block;
	width:75px;
	height: 75px;
	object-fit: cover;
}

.profile,
.location {
	font-size:25px;
	padding:0 30px;
	line-height:75px;
	white-space:nowrap;
	overflow:hidden;
}

/* mida petita */

.vista-mapa #profile_info,
.vista-mapa #profile_info .location,
.vista-mapa #profile_info .profile,
#profile_info.petit,
#profile_info.petit .location,
#profile_info.petit .profile {
	height:50px;
}

.vista-mapa #profile_info #ico_xs,
.vista-mapa #profile_info #ico_xs img,
.vista-mapa #profile_info #profile-img,
#profile_info.petit #ico_xs,
#profile_info.petit #ico_xs img,
#profile_info.petit #profile-img {
	width:50px;
	height: 50px;
}


.vista-mapa #profile_info .profile,
.vista-mapa #profile_info .location,
#profile_info.petit .profile,
#profile_info.petit .location {
	font-size:20px;
	padding:0 20px;
	line-height:50px;
}

.vista-mapa #profile_info .location {
padding-left: 50px;
background-size: 25px auto;
background-position: 14px 13px;
}

.vista-mapa #profile_info .profile,
.vista-mapa #profile_info .location {
display: block;
}

#profile_info #ico_xs,
#profile_info #profile-img,
#profile_info .profile,
#profile_info .location,
#profile_info #ico_xs img,
#profile_info.petit #ico_xs,
#profile_info.petit #profile-img,
#profile_info.petit .profile,
#profile_info.petit .location,
#profile_info.petit #ico_xs img {
transition: all 1s;
}

/* col·loquem a mapa les caixes */

.vista-mapa .myimg.map {
	position: absolute;
	left:97px;
	top:260px;
	bottom:auto;
	right: auto;
	max-width: 300px;
	max-height: 300px;
}

.vista-mapa #profile_info{
		left:400px;
		top:260px;
		bottom:auto;
}
	
/* altres */

.profile {
	color:#000;
	background-color:#fff;
}

.location {
	color:#fff;
	background: url(../img/marker_mapa.svg) no-repeat 20px 20px rgba(0,0,0,0.8);
	padding-left: 60px;
}

.hashtag {
	color: #aaa;
}

.hastagflaix {
	color:#ed2d26;
}

/*********************************
FOTOS
*********************************/

.photo-doble{
	height:200vh;
}

.photo-doble.mou{
	transform:translateY(-100vh);
	transition: transform 1s cubic-bezier(1,0,0,1);
}

.photo_container {
	width:100%;
	height:100vh;
	z-index:1;
	overflow:hidden;
}

.myimg {
	object-fit:cover;
	width:100%;
	height:100vh;
	max-width:none;
	max-height:none;
	display:block;
	margin:0;
}
.myimg.map {
	position:absolute;
  /*  max-width: 300px;
    max-height: 300px;*/
	z-index:9999;
	border-radius: 3px;
}

/** fer animacio **/
.myimg.map.tophoto {
	object-fit:cover;
	width:100%;
	height:auto;
	max-width:none;
	max-height:none;
	display:block;
	margin:0;
	top:0;
	left:0;
	transition: width 1s,height 1s, left 1s,top 1s;

}

#debug{
	position: absolute;
	background-color: rgba(255,255,128,0.5);
	color:#fff;
	width:300px;
	height:300px;
	overflow: scroll;
	z-index:99999;
	display:none;
}

.hidden{
	display: none;
}

.show{
	display: block;
}


.photo_container {
}

.text {
	position:absolute;
	bottom: 43px;
	z-index: 100;
	right: 75px;
	width: 600px;
	font-size:25px;
	overflow-wrap: break-word;
	line-height: 52px;
	color: #fff;
}

.text span {
	-webkit-box-decoration-break: clone;
	box-decoration-break:clone;
	background-color:rgba(0,0,0,0.8);
	padding:10px 20px;
	border-radius: 3px;
}

.text .hashtag {
	color: #ccc;
	background-color:rgba(0,0,0,0.8);
	padding: 10px 0;
}

.text .hashtagflaix {
	color: #ed2d26;
	background-color:rgba(0,0,0,0.8);
	padding: 10px 0 20px ;
}

/*********************************
VIDEO
*********************************/

body.video {
	font-size:18px;
}

#myvideo {
	width:100%;
	height:calc(100vh - 5px);
	position: relative;
 	z-index: 1;}

.video-bar-container{
	height:5px;
	width:100%;
	position: absolute;
	bottom:0;
	left:0;
	right:0:
	z-index:999999;
}
.video-bar{
	background-color: #ed2d26;
	height:5px;
}


/*********************************
CARES
*********************************/

#wall_profile {
	padding:75px;
}

#wall_profile img {
	max-width:100%;
	height:auto;
}

.profile_llistat {
	display:grid;
	width:2000px;
	height:800px;
	grid-template-columns:repeat(auto-fill,80px);
	grid-template-rows:repeat(auto-fill,80px);
	grid-auto-flow:dense;
	justify-content:center;
	align-items:center;
}

.un_profile {
	list-style-type:none;
	position:relative;
}

.petita {
	width:80px;
	height:80px;
}

.gran {
	grid-column-end:span 2;
	grid-row-end:span 2;
	width:160px;
	height:160px;
}

.petita img {
	width:80px;
	height:80px;
	object-fit:cover;
}

.gran img {
	width:160px;
	height:160px;
	object-fit:cover;
}

.un_profile img {
	display:block;
	z-index:1;
	position:relative;
	transform:scale(1) rotate(0);
	transition:transform 0.3s,z-index 0.3s;
	transform-origin:center center;
	box-shadow:0 0 50px rgba(0,0,0,0.0);
}

.un_profile.gran.selected img {
	transform:scale(1.75) rotate(-360deg);
}

.un_profile.petita.selected img {
	transform:scale(3.5) rotate(360deg);
}

.un_profile.selected img {
	border-radius: 1px;
	transform-origin:center center;
	z-index:100;
	transition:transform 0.3s,z-index 0.3s;
	box-shadow:0 0 50px rgba(0,0,0,0.8);
}

.nom {
	margin:0;
	color:#fff;
	font-size:18px;
	line-height:1.1;
	position:absolute;
	bottom:0;
	left:100px;
	padding:8px 12px;
	border-radius: 3px;
	z-index:999;
	background-color:#fff;
	color:#000;
	white-space:nowrap;
	box-shadow:0 0 50px rgba(0,0,0,0.5);
}

.un_profile.petita.selected {}

/*
#cares_logo {
	position:absolute;
	width:800px;
	height:500px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:url(../img/logo_flaixfm_fff.svg) no-repeat center;
	background-size:contain;
	z-index:50;
}

/*********************************
MAPA
*********************************/

/** google map */

#gmap {
	height: 200px;
	z-index:9999999;
}


/** mapbox js */

body.map {
	margin:0;
	padding:0;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

body#mymap {
	background-color:#000;
}

.map-overlay-container {
	position:absolute;
	width:25%;
	top:0;
	left:0;
	padding:10px;
	z-index:1;
}

.map-overlay {
	font:12px/20px 'Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color:#fff;
	border-radius:3px;
	padding:10px;
	box-shadow:0 1px 2px rgba(0,0,0,0.20);
}

.map-overlay h2,.map-overlay p {
	margin:0 0 10px;
}

#mymap #ico_xs,#mymap #ico_xs img {
	width:45px;
	height:45px;
}

#mymap #profile-img {
	position:absolute;
	left:48px;
	bottom:0;
	width:45px;
	height:45px;
}

#mymap .profile {
	left:96px;
	bottom:0;
	font-size:18px;
	height:45px;
	line-height:45px;
	padding:0 20px;
	background-color:#333;
	width:150px;
	overflow:hidden;
	color:#fff;
}

#mymap .location {
	color:#ed2d26;
	background-color:#fff;
	font-size:18px;
	height:45px;
	line-height:45px;
	padding:0 20px;
	position:absolute;
	bottom:0;
	left:249px;
	padding-left:40px;
	background:url(../img/maker_mapa2.png) no-repeat 15px center #fff;
}

#map {
	position:relative;
	width:100%;
	height:100vh;
	background-color:#e7eaf0;
	z-index:1;
}

#marker {
	position:absolute;
	z-index:9999;
}

#profile_info.map {
	z-index:100;
}

#profile-img {
	z-index:100;
}

/*the desired background for the map*/
#map_canvas {
	background-color:#000!important;
}

/*hides the tiles (and maybe more^^)*/
#map_canvas div div div div div div img {
	visibility:hidden;
}
